<div>
    <h2>
        <p>Welcome to NetBanking</p>
        <a asp-controller="Account" asp-action="GetBalanceform">Balance</a>
        <a asp-controller="Account" asp-action="Withdrawform">Withdraw</a>
        <a asp-controller="Account" asp-action="UserDetails">All Users</a>
    </h2>
    <h4>
        <a asp-controller="Account" asp-action="NewUserform">New User</a>
    </h4>
</div>